[Unit]
Description=push - automatic binary deployment

[Service]
Type=simple
ExecStart=%h/local/bin/push daemon
Restart=always
RestartSec=30
Environment="DL_USE_JSON=false"

[Install]
WantedBy=default.target
